/* styling of navbar */

.navbar-title{
  font-family: 'Cinzel', serif;
  font-size: 1.5rem;
  padding-left: 0.5rem;
}
@media screen and (max-width: 1924px){
  .navbar-title{
     font-size: 2.25rem;
    margin-left: -5%;
  }
}

  @media screen and (max-device-width: 768px)
{
  .navbar-title{
    font-size: 1.7rem;
    margin-left: -1rem;
  }
}

  @media screen and (max-device-width: 425px)
{
  .navbar-title{
    font-size: 1.6rem;
    margin-left: -.2rem;
  }
}
.navbar{
  background-color: #dfdccf;
}

.navbar-content{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 0.90rem;
  color: black;
}

/* styling of hero section */

.hero{
  background-color: #dfdccf;
  height: 28.5rem;
  width: 100%;
  margin-left: 0;
  margin-right:0;
}
.profile-photo{

  align-items: center;
  
    height: 15rem;
     display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-top: 2rem;
}


@media screen and (max-width: 1924px){
  .hero{
    height: 40rem;
  }
  .profile-photo{
    height: 30rem;
    width:40%
  }
}

@media screen and (max-width: 768px)
{
  .hero{
    height:15rem;
  }
   .profile-photo{
    height: 25rem;
    width:50%
  }
}

@media screen and (max-width: 768px){
  .hero{
    height: 25rem;
  }
   .profile-photo{
    height: 20rem;
    width:60%
  }
}

@media screen and (max-width: 320px){
   .profile-photo{
    height: 20rem;
    width:70%
  }
}

/*styling for footer*/

.footer{
  background-color: black;
  color: aliceblue;
  font-family: 'Cinzel', serif;
  height: 20rem;
}

.footer-title{
  padding-top: 7rem;
  text-align: center;
  font-size: 2rem;
}

.footer-lc{
  font-size: 1rem;
  text-align: center;
}

.footer-socials{
  font-size: .7rem;
  text-align: center;
}

.tagline{
  margin: top 18rem;
}

.copyright{
  text-align: center;
  padding-top: 5rem;
}

