body {
  background-color: #dfdccf;
  color: black;
  
  font-family: Arial;
  text-align: center;
}

.header{
   display: flex;
  

}
.header-title{
    margin-right: auto;
    padding: 2vh;
       font-family: 'Cinzel', serif;

}
.profile-photo{
    margin: 10px;
    width: 450px;
    height: auto;
    
}


.menu {
  display: inline-block;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
}

.menu > li {
  float: left;
  color: black;
    text-align: center;
  width: 140px;
  height: 75px;
  line-height: 60px;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}

.sub-menu {
  list-style-type: none;
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
  padding-left: 2px;
}


.sub-menu li {
  font-size: 14px;
  font-weight: 500;
  background: rgba(244, 242, 242, 0.8);
  width: 300px;
  padding-left: 8px;
  text-align: justify;
  color: rgb(8, 8, 8);
  border-bottom: 1px solid rgba(255,255,255, 0.2);
  /*display: none;*/
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;

}


.sub-menu li:last-child {
  border-bottom: 0;
  
}


.sub-menu li:hover {
  background: rgb(138, 137, 137);
}


.menu > li:hover .sub-menu li{
  /*display: block;*/
  transform: scale(1);
}


.menu > li:hover .sub-menu {
  transform: scale(1);
}


button.open-nav-btn {
  font-size: 1.5rem;
  border: 1px solid black;
  background-color: transparent;
  margin: 10px;
}

.slide-content {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 60px;
  visibility: hidden;
}

.slide-content a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #F5F5F5;
  display: block;
}

.slide-content a:focus,
.slide-content button:focus {
  outline: 2px solid orange;
}

main a:focus,
.open-nav-btn:focus {
  outline: 2px solid blue;
  outline-offset: 5px;
}

.close-btn {
  font-size: 25px;
  color: #F5F5F5;
  background-color: transparent;
  border: none;
}

.slide-content a:hover,
.slide-content a:focus {
  text-decoration: underline;
}

.slide-content .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.visible {
  visibility: visible;
}

.active {
  width: 250px;
}


.cardhero{

  background-color: #eae9e4;
  color: black;
  width: 100%;
  height: 250vh;
  
}

.cardhero-header{
  font-family: 'Cinzel', serif;
  padding-top: 20vh;
  font-size: 10vh;
  font-weight: 100;
  margin-bottom: 3vh;

}
hr {
  
    width:4%;
    margin:0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  
  padding-left: 75px;
   padding-right: 75px;
   margin-top: 30px;
}

.img-card{
  width: 350px;
}


.card-content{
  padding-left:10px;
}
.date{
  text-align: left;
  margin-bottom: 4px;
  font-family: 'Quintessential', cursive;
  font-weight: 100;
}

.blog-title{
  text-align: left;
  font-family: 'Cinzel', serif;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 15px;
}
.blog-line{
  width: 350px;
}

.child1{
  padding: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 100;
}

.blog-type{
  text-align: left;
  float: left;
  
}

 .blog-comment{
   float: right;
 }

.subscribe{
  width: 100%;
  height: 50vh;
 
}

.sub-heading{
  padding: 60px 75px;
  text-align: left;
  overflow-wrap: break-word;
   font-family: 'Cinzel', serif;
 font-weight: 100;
  float: left;
  font-size: 60px;
  
}

.sub-text{
  float: left;
  padding: 75px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  overflow-wrap: break-word;
  
}



footer{


  width: 100%;
  bottom: 0;
  left: 0;
 
  background: black;
  color: white;
     display: flex;
  justify-content: center;
  align-items: center;
  
  height: 80vh;
  
  
}



.footer-title{
  font-family: 'Cinzel', serif;
  font-size: 40px;
letter-spacing: 3px;
}

.footer-lc{
  font-family: 'Antic Didone', serif;
  letter-spacing: 2px;
  font-size: 15px;

}.footer-socials{
  font-family: 'Cinzel', serif;
  font-size: 10px;
letter-spacing: 3px;
}

.footer-copyright{
   font-family: 'Antic Didone', serif;
  letter-spacing: 2px;
  font-size: 15px;
  text-align: right;
}


.footer-tagline{
  text-align: right;
  bottom: 0;
}

